<div class="main">
  <h1>Create and share Stories</h1>
  <a href="#" class="btn btn-secondary"><p>Learn More</p></a>
   <img href="https://i.imgur.com/R4BLdCv.jpg">
</div>

<div class="home-supporting">
  <h2>Relive and share your adventures</h2>
  <p>Stories automatically creates a digital journal filled with only your best photos.</p>
</div>

<div class="home-secondary">
  <img href="https://i.imgur.com/R4BLdCv.jpg">
</div>

<div class="discover">
  <h2>Discover Stories</h2>
  <a href="#" class="btn btn-secondary"><p>Learn More</p></a>
</div>
  
<div class="footer">
  <p>A SHUTTERBUGG PROJECT</p>
</div
