<div class="signup-main">
		<a id="simple-menu" href="#sidr"><img src="/assets/menu.png" width="30px" height="40px"></a>
	<div class="container">
		<h1>Thanks!</h1>
        <p><%= @firstname %> We will contact you as soon as we go live!</p>
    </div>
</div>