<div class="signup-main">
		<a id="simple-menu" href="#sidr"><%= image_tag('menu.png', size: "30x40") %></a>
	<div class="container">
		<h1>Thanks!</h1>
        <p><%= @firstname %> We will contact you as soon as we go live!</p>
    </div>
</div>