<div class="about-main">
	<a id="simple-menu" href="#sidr"><img src="/assets/menu.png" width="30px" height="40px"></a>
	<div class="container">
       <h1>Relive your favorite memories</h1>
	</div>
</div>

<div class="about-supporting">
	<div class="container">
       <h2> No more sorting through photos </h2>
       <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
       <a class="btn btn-primary" href="signups/new">SignUp</a>
	</div>
</div>